/* register,login */
.col-md-6 {
    display: flex;
    white-space: nowrap;
}

.any {
    margin: auto 0;
}

/* index */
.month {
    display: flex;
    justify-content: space-around;
}
.month > div > form {
    margin: auto;
}
.viewMonth {
    margin-top: 12px;
}

table,
th,
td {
    padding: 0 8px;
}
th,
td {
    border-bottom: 1px solid lightgray;
}
th,
td:first-child,
td:nth-child(6),
td:last-child {
    white-space: nowrap;
}

td > p {
    display: inline-block;
}

.delete-form {
    margin: auto;
}
.link-style-btn {
    border: none;
    background: none;
    color: slateblue;
}

.link-style-btn:hover {
    text-decoration: underline;
    color: slateblue;
}

a {
    color: slateblue;
}
.condition-check {
    display: flex;
    list-style: none;
    white-space: nowrap;
}

.condition-check > li {
    padding: 0 8px;
}

.navbar-nav > li {
    padding: 0 4px;
}

.annotation {
    list-style: none;
}

.taion-green {
    color: green;
}

.taion-red {
    color: red;
}

.calendar-condition {
    color: orange;
}

.calendar-physiology {
    color: blueviolet;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
}

/* closeAccount */
.delete-message {
    font-size: 30px;
}

.closeAccount {
    list-style: none;
    display: flex;
}

.closeAccount > li {
    padding: 0 20px;
}
