table,th,td{
  padding:0 8px;
}
th,td{
  border-bottom: 1px solid lightgray;
}
th,
td:first-child,
td:nth-child(6),
td:last-child{
  white-space: nowrap;
}

td>p{
  display: inline-block;
}

.delete-form{
  margin: auto;
}
.link-style-btn{
  border: none;
  background: none;
  color: slateblue;
}

.link-style-btn:hover{
  text-decoration: underline;
  color: slateblue;
}

a{
  color: slateblue;
}
.condition-check{
  display: flex;
  list-style: none;
}

.condition-check>li{
  padding: 0 8px;
}

.navbar-nav>li{
  padding:0 4px;
}